.button_category_container {
    background-color: var(--vkui--color_background_secondary);
    border-radius: var(--vkui--size_border_radius--regular);
}

.button_patch > span > span {
    padding-left: 0 !important;
}

.circle_menu_wrapper > * {
    z-index: 1 !important;
}
