.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--vkui--color_background_secondary);
    border-radius: var(--vkui--size_border_radius--regular);
    gap: 5%;
    overflow: hidden;
    padding: 1%;
}

.card_scroll_container {
    flex: '0 0 auto';
    margin-left: '2%';
    margin-right: '2%';
}

.upload_container {
    display: flex;
    flex: '0 0 auto';
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.upload_container > span {
    justify-content: center !important;
    align-items: center;
}

.card_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15%;
    align-items: center;
    margin: auto;
}

.card_child {
    margin: var(--vkui--size_base_padding_vertical--regular) var(--vkui--size_base_padding_horizontal--regular);
}

.remove_button {
    position: absolute;
    right: 0;
    top: 0;
    translate: 50% -50%;
}

.photo_preview {
    height: 100%;
    aspect-ratio: 1;
}

.attachment_title {
    display: block; /* Important to give the content a width */
    width: fit-content;
    transform: translateX(100%); /* Animation start out of the screen */
    /* Add the animation */
    animation: move 5s linear infinite /* infinite make reapeat the animation indefinitely */;
}

/* Create the animation */
@keyframes move {
    to { transform: translateX(-100%); }
}