.blocking_element {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.67); /* Darkens the background */
    z-index: 1; /* Places the blocking element above other elements */
}

.blocking_element_message {
    padding: 0.5rem;
    background-color: var(--vkui--color_background_secondary);
    border-radius: var(--vkui--size_border_radius--regular);
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card_scroll > div > button {
    z-index: 2;
}